@model IEnumerable<MomentMaster.Models.TimeObject>

@{
    ViewData["Title"] = "Search Results";
}

<h1>The following search results for found:</h1>

<table class="table">
    <thead>
        <tr>
            <!--<th>
        @Html.DisplayNameFor(model => model.Parent_Id)
    </th>-->
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                Project Manager
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginalEstimate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursBudgeted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="row-highlight">
            <!--<td>
        @Html.DisplayFor(modelItem => item.Parent_Id)
    </td>-->
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName) (@Html.DisplayFor(modelItem => item.User.FullName))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalEstimate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursBudgeted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Project_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Project_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Project_Id">Delete</a>
            </td>
        </tr>
    }
        </tbody>
    </table>
